<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	
	
	
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
	
	
	
    <connectionStrings>
    <!--Developement-->
    <add name="connectionRCFATST" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = gpiptcciod-scan.graphicpkg.pri)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = GPCIOD02.graphicpkg.pri)(SERVER = DEDICATED)));PASSWORD=relad123#;PERSIST SECURITY INFO=True;USER ID=RELADMIN;Unicode=true" providerName="System.Data.OracleClient" />
    <add name="USDSqlServer" connectionString="Data Source=s02asqlp349.na.graphicpkg.pri;Initial Catalog=ManufacturingUSD;Persist Security Info=True;User ID=MEASApps;Password=measapps;" providerName="System.Data.SqlClient" />
    <add name="dbCnPRODpmdb" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = gpiptcciod-scan.graphicpkg.pri)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = GPCIOD02.graphicpkg.pri)(SERVER = DEDICATED)));PASSWORD=emfgd123#;PERSIST SECURITY INFO=True;USER ID=EMFG_USER;Unicode=true" providerName="System.Data.OracleClient" />
    <add name="dbCnPPR" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=xxOMSA)(PORT=1521))(CONNECT_DATA=(SID = xxPPR)(SERVER = DEDICATED))); uid=oper;pwd=oper;" providerName="System.Data.OracleClient" />

    <!--Production-->
    <!--<add name="connectionRCFATST" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = gpiptcciop-scan.graphicpkg.pri)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = GPCIOP02.graphicpkg.pri)(SERVER = DEDICATED)));PASSWORD=relap123#;PERSIST SECURITY INFO=True;USER ID=RELADMIN;Unicode=true" providerName="System.Data.OracleClient"/>
    <add name="USDSqlServer" connectionString="Data Source=s02asqlp349.na.graphicpkg.pri;Initial Catalog=ManufacturingUSD;Persist Security Info=True;User ID=MEASApps;Password=measapps;" providerName="System.Data.SqlClient"/>
    <add name="dbCnPRODpmdb" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=gpiptcciop-scan.graphicpkg.pri)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = GPCIOP02.graphicpkg.pri)(SERVER = DEDICATED))); uid=emfg_user;pwd=emfgp123#;" providerName="System.Data.OracleClient"/>
    <add name="dbCnPPR" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=xxOMSA)(PORT=1521))(CONNECT_DATA=(SID = xxPPR)(SERVER = DEDICATED))); uid=oper;pwd=oper;" providerName="System.Data.OracleClient"/>-->
    
    
    <!--<add name="DataConnectionString_Company" connectionString="Server=WMOLAP7TPNVP2\SQLEXPRESS2019; Database=hpims;  UID=sa; PWD=Parad1se; connect timeout=0"/>
    <add name="NorthwindConnectionString" connectionString="Server=WMOLAP7TPNVP2\SQLEXPRESS2019; Database=Northwind; UID=sa; PWD=Parad1se; connect timeout=0" providerName="System.Data.SqlClient"/>-->
  
  </connectionStrings>
	
	
	<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	
	
	
	
</configuration>